@import '../../variables';

.showAll {
  display: flex;
  align-items: center;
  //padding-bottom: 4px;
  margin: 0 8px 4px 0;
  line-height: 1;
  margin: 0 16px 8px 0;
  color: $link-color;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    color: $interactive;
  }
}

.filter-button {
  // TODO: add "close" button?
  display: flex;
  align-items: center;
  padding: 5px 16px 7px;
  margin: 0 8px 8px 0;
  border: 1px solid rgba($color: white, $alpha: 0.15);
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
  line-height: 1;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: rgba($color: white, $alpha: 0.2);
  }

  &.selected {
    background-color: rgba($color: white, $alpha: 1);
    color: #333;
    font-weight: 400;
    border: 1px solid rgba($color: white, $alpha: 0);

    &:hover {
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid rgba($color: white, $alpha: 0);
    }

    .counter {
      opacity: 0.4;
    }
  }

  .icon-container {
    display: flex;
    height: 14px;
    width: 14px;
    align-items: center;
    line-height: 1;
    margin-right: 8px;
    vertical-align: middle;
  }

  .icon {
    font-size: 14px;
    line-height: 1.1;
    margin-right: 8px;
  }

  .label {
    text-transform: capitalize;
    margin-right: 8px;
  }

  .counter {
    opacity: 0.3;
  }
}

.info-tag {
  font-size: 15px;
  padding-left: 0;
  padding-right: 0;
  margin-right: 16px;

  .label {
    margin: 0;
  }
}
