@import '../variables';

.button {
  display: inline-flex;
  font-size: 15px;
  align-items: center;
  padding: 0 16px 0;
  margin: 0 8px 8px 0;
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
  line-height: 1;
  transition: all 0.1s ease-in-out;

  .label {
    margin-top: -2px;
  }

  &.light {
    height: 30px;
    border: 1px solid rgba($color: white, $alpha: 0.15);
    &:hover {
      background-color: rgba($color: white, $alpha: 0.2);
    }

    &.selected {
      background-color: rgba($color: white, $alpha: 1);
      color: #333;
      font-weight: 400;
      border: 1px solid rgba($color: white, $alpha: 0);

      &:hover {
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba($color: white, $alpha: 0);
      }
    }
  }

  &.dark {
    height: 32px;
    // border: 1px solid rgba($color: $link-color-dark, $alpha: 0);
    border: none;
    background-color: rgba($color: $link-color-dark, $alpha: 0.12);
    color: $link-color-dark;
    font-weight: 400;

    &.dark-outline {
      height: 30px;
      background: none;
      border: 1px solid rgba($color: $link-color-dark, $alpha: 1);
    }

    &:hover {
      background-color: rgba($color: $link-color-dark, $alpha: 0.2);
    }

    &.selected {
      background-color: rgba($color: $link-color-dark, $alpha: 1);
      color: #333;
      font-weight: 400;
      border: 1px solid rgba($color: $link-color-dark, $alpha: 0);

      &:hover {
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba($color: $link-color-dark, $alpha: 0);
      }
    }
    &:active {
      background-color: rgba($color: $link-color-dark, $alpha: 1);
      color: white;
      font-weight: 400;
    }
  }

  &.close {
    height: 20px;
    width: 20px;
    padding: 0;
    background: rgba($color: black, $alpha: 0.15);

    &:hover {
      background: rgba($color: black, $alpha: 0.2);
    }
    &:active {
      background: rgba($color: black, $alpha: 0.25);
    }
  }
}
