// Common styles are defined in the case.scss
// These are only related to the specific case styling

@import './case-variables.scss';

.page-case.case-pw {
  section.intro {
    background: radial-gradient(50% 50% at 50% 50%, #f0f2f3, #d3d7db);

    .wires-illustration {
      position: absolute;
      width: 100%;
      height: 35vw;
      max-height: 451px;
      top: calc(100px + 10vw);
      border-radius: 0;
      z-index: 0;

      @media screen and (min-width: 1400px) {
        top: 240px;
      }

      @media screen and (max-width: 670px) {
        top: calc(130px + 10vw);
      }
    }
  }

  .fig-properties {
    grid-column-start: wide-start;
    grid-column-end: span 7;

    @media screen and (max-width: 505px) {
      grid-column: span 2;
    }

    img {
      border-radius: 0;
    }
  }

  .fig-ribbon-icons {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, minmax(24px, 1fr));
    grid-gap: 20px;
    align-content: start;
    img {
      border-radius: 0;
    }

    @media screen and (max-width: 920px) {
      grid-gap: 10px;
    }

    @media screen and (max-width: 505px) {
      grid-column: span 2;
      grid-gap: 5vw;
    }

    figcaption {
      grid-column-start: span 3;

      @media screen and (max-width: 505px) {
        margin-top: 0;
      }
    }
  }

  .fig-signoff {
    grid-column: wide-start / 9;
    grid-row: 10 / 15;
    margin: 0;
    border-radius: 0;
  }
  .figc-signoff {
    grid-column: 9 / wide-end;
    grid-row: 11 / 12;
    max-width: 16em;
  }

  .fig-run-details {
    grid-column: 5 / wide-end;
    grid-row: 13 / 17;
    margin: 0;
    border-radius: 0;
  }
  .figc-run-details {
    grid-column: wide-start / 5;
    grid-row: 15 / 16;
    justify-self: end;
    align-self: end;
    max-width: 16em;
    // text-align: right;
  }

  @media screen and (max-width: 670px) {
    .fig-run-details {
      grid-column: 4 / wide-end;
    }

    .figc-run-details {
      grid-column: wide-start / 4;
    }
  }

  @media screen and (min-width: 561px) {
    .figc-signoff-small,
    .figc-run-details-small {
      display: none;
    }
  }

  @media screen and (max-width: 560px) {
    .figc-signoff,
    .figc-run-details {
      display: none;
    }

    .fig-signoff,
    .figc-signoff,
    .fig-run-details,
    .figc-run-details {
      grid-column: wide-start / wide-end;
      grid-row: auto;
      max-width: 100%;
    }
  }

  .grid-item {
    --col: inherit;
    --row: inherit;
    grid-column: var(--col);
    grid-row: var(--row);
  }
}
