// Common styles are defined in the case.scss
// These are only related to the specific case styling

@import './case-variables.scss';

.page-case.case-automation {
  // TODO: decide on height and parallax for the background
  section.intro {
    color: white;
    position: relative;
    background: center / cover no-repeat
      url('../assets/images/automation-backstage.png');
    display: flex;
    align-items: flex-end;

    .section-grid {
      margin-top: 50vh;
      width: 100%;

      @media screen and (min-height: 800px) {
        margin-top: 40vh;
      }
    }

    .intro-on-black {
      grid-column: narrow-start/narrow-end;
      background: black;
      margin-left: -($grid-gap-small);
      margin-right: -($grid-gap-small);
      margin-bottom: $line-height * 2;
      padding: $grid-gap-small;
      padding-bottom: $grid-gap;

      h1 {
        margin-bottom: $grid-gap;
        max-width: 15em;
      }

      .goal {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: 505px) {
      .intro-on-black {
        margin-bottom: 0;
      }
    }
  }

  // Design VS Execution

  .fig-design-execution {
    figcaption {
      font-style: italic;
      font-weight: 300;
      font-size: 18px;
      text-align: center;
    }
  }

  .fig-design {
    grid-column: wide-start / middle;
  }

  .fig-execution {
    grid-column: middle / wide-end;
  }

  .grid-item {
    --col: inherit;
    --row: inherit;
    grid-column: var(--col);
    grid-row: var(--row);
  }

  // Gifs
  .feature-grey {
    grid-auto-rows: min-content;

    .gifs {
      border-radius: 0;

      // Remove the outline
      &:after {
        box-shadow: none;
      }

      .figc-gifs-in-grid {
        // grid-column: 1 / -1;
        grid-column: span 1;
        margin-top: 0;

        span.click-touch:before {
          content: '↑ Click ';

          @media (hover: none) {
            content: '↑ Tap ';
          }
        }
      }

      .figc-gifs-out-grid {
        display: none;
      }

      .gifs-container {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));

        .automation-gif {
          border-radius: 8px;
          overflow: hidden;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            box-shadow: inset 0 0 0 1px rgba($color: #000000, $alpha: 0.2);
            pointer-events: none;
          }
        }
      }
    }

    p {
      grid-column: 8 / 11;
      align-self: start;

      @media screen and (max-width: 920px) {
        margin-top: $line-height / 2;
        grid-column: span 1;
      }
    }
  }
}
