@import '../variables.scss';
@import './case-variables.scss';

.page-case {
  padding: 24px;
  color: #333;
  background: white;
  font-weight: 400;

  a {
    color: $link-color-dark;
  }

  article > .button {
    position: absolute;
    top: 24px;
    left: 24px;
    left: calc(24px + env(safe-area-inset-left));
    // left: 24px;
    z-index: 1;
  }

  // GRID

  .section-grid {
    display: grid;
    column-gap: $grid-gap;
    row-gap: $grid-gap;
    grid-template-columns:
      [full-start]
      repeat(1, minmax(24px, 1fr))
      [wide-start]
      repeat(2, minmax(24px, 1fr))
      [narrow-start]
      repeat(3, minmax(24px, 1fr))
      [middle]
      repeat(3, minmax(24px, 1fr))
      [narrow-end]
      repeat(2, minmax(24px, 1fr))
      [wide-end]
      repeat(1, minmax(24px, 1fr))
      [full-end];
    font-size: 17px;
    line-height: $line-height;
    max-width: 80em;

    @media screen and (max-width: 920px) {
      column-gap: $grid-gap-small;
      grid-template-columns:
        [full-start]
        repeat(1, minmax(24px, 1fr))
        [wide-start]
        repeat(1, minmax(24px, 1fr))
        [narrow-start]
        repeat(4, minmax(24px, 1fr))
        [middle]
        repeat(4, minmax(24px, 1fr))
        [narrow-end]
        repeat(1, minmax(24px, 1fr))
        [wide-end]
        repeat(1, minmax(24px, 1fr))
        [full-end];
    }

    @media screen and (max-width: 670px) {
      grid-template-columns:
        [full-start wide-start]
        repeat(1, minmax(24px, 1fr))
        [narrow-start]
        repeat(4, minmax(24px, 1fr))
        [middle]
        repeat(4, minmax(24px, 1fr))
        [narrow-end]
        repeat(1, minmax(24px, 1fr))
        [full-end wide-end];
    }

    @media screen and (max-width: 505px) {
      // row-gap: $grid-gap-small;
      grid-template-columns:
        [full-start wide-start narrow-start]
        repeat(1, minmax(24px, 1fr))
        [middle]
        repeat(1, minmax(24px, 1fr))
        [full-end wide-end narrow-end];
    }

    @media screen and (max-width: 370px) {
      font-size: 16px;
      line-height: $small-line-height;
      // margin: $small-line-height auto;
    }
  }

  section {
    &.intro {
      margin: -24px -24px $grid-gap;
      padding: 24px 24px 0;
      padding-left: calc(24px + env(safe-area-inset-left));
      padding-right: calc(24px + env(safe-area-inset-right));

      .section-grid {
        margin-top: 112px;
      }
    }

    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: $grid-gap * 2;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);

    figure {
      z-index: 1;
    }
  }

  // Text Styles
  h1 {
    grid-column: narrow-start/narrow-end;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
    // text-wrap: balance;
  }

  p {
    grid-column: narrow-start/narrow-end;

    margin: 0;
    // margin-bottom: $line-height / 2;
    // max-width: 36em;
  }

  .long-text {
    grid-column: narrow-start/narrow-end;

    p {
      margin-bottom: $line-height / 2;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .big {
    font-weight: 300;
    font-size: 2.3vw;
    line-height: 2.3vw * 1.5;
    color: $text-color-dark;

    @media screen and (min-width: 1200px) {
      font-size: 28px;
      line-height: $line-height * 1.8;
    }

    @media screen and (max-width: 920px) {
      font-size: 24px;
      line-height: 24px * 1.5;
    }
  }

  // Images and videos
  img,
  video {
    max-width: 100%;
    border-radius: 5px;

    &[alt='Workflow Conept'] {
      border-radius: 0;
    }
  }

  // The goal.
  .goal {
    grid-column: narrow-start/narrow-end;
    display: flex;
    font-size: 18px;
    max-width: 25em;
    margin: 0 0 $grid-gap;
  }

  .case__emoji {
    display: inline-block;
    margin-right: 0.5em;
  }

  .first-word {
    font-weight: 600;
  }

  // Figure
  figure {
    grid-column: wide-start / wide-end;
    margin: 0;
    border-radius: 8px;
    overflow: hidden;

    // Need that to make grid element size fit its content.
    line-height: 0;

    video {
      object-fit: cover;
      border-radius: 0;
    }
  }

  // Two side by side images
  .two-figures {
    grid-column: wide-start / wide-end;
    display: grid;
    column-gap: $grid-gap;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;

    figure {
      grid-column: auto;
      // border-radius: 8px;
      // overflow: hidden;
      background-color: black;
      display: grid;
      align-items: stretch;

      .smaller {
        // object-fit: contain;
      }
    }

    figcaption {
      grid-column: 1 / -1;
    }

    @media screen and (max-width: 920px) {
      column-gap: $grid-gap-small;
    }

    @media screen and (max-width: 505px) {
      grid-template-columns: 1fr;
      gap: 24px;

      figcaption.big {
        margin-top: 0;
      }
    }
  }

  figcaption {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.015em;
    color: rgba($text-color-dark, 0.75);

    &.big {
      margin-top: $line-height / 2;
    }
  }

  .figc-bottom {
    margin-top: $line-height / 2;
  }

  // ---
  // Default feature
  // ---
  .feature {
    position: relative;
    grid-column: wide-start/wide-end;
    column-gap: $grid-gap;
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    @media screen and (max-width: 920px) {
      column-gap: $grid-gap-small;
    }

    @media screen and (max-width: 920px) {
      grid-template-columns: 1fr;
    }

    figure {
      grid-column: span 7;
      display: block;
      position: relative;
      margin: 0;
      border-radius: 8px;

      @media screen and (max-width: 920px) {
        grid-column: span 1;
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        box-shadow: inset 0 0 0 1px rgba($color: #000000, $alpha: 0.15);
        pointer-events: none;
      }
    }

    video {
      display: block;
      position: relative;
      border-radius: 8px;
      outline: none;
      background: white;
    }

    figcaption {
      margin-top: 0;
      grid-column: span 3;
      // max-width: 18em;

      @media screen and (max-width: 920px) {
        margin-top: $line-height / 2;
        grid-column: span 1;
      }
    }

    &.feature-left-caption {
      figure {
        @media screen and (max-width: 920px) {
          grid-row: -1;
        }
      }

      figcaption {
        // text-align: right;

        @media screen and (max-width: 920px) {
          text-align: left;
        }
      }
    }
  }

  // Grey feature (adds background to the regular feature)
  .feature-grey {
    margin: -($grid-gap-small);
    margin-top: 0;
    margin-bottom: 0;
    padding: $grid-gap-small;
    background: #e6e8ea;

    @media screen and (max-width: 920px) {
      margin-left: -($grid-gap-small);
      margin-right: -($grid-gap-small);
      padding: $grid-gap-small;
    }
  }
}
