// Common styles are defined in the case.scss
// These are only related to the specific case styling

@import './case-variables.scss';

.page-case.case-automation {
  // TODO: decide on height and parallax for the background
  section.intro {
    color: white;
    position: relative;
    background: center / cover no-repeat
      url('../assets/images/automation-backstage.png');
    display: flex;
    align-items: flex-end;

    .section-grid {
      margin-top: 70vh;
      width: 100%;
    }

    .intro-on-black {
      grid-column: narrow-start/narrow-end;
      background: black;
      margin-left: -($grid-gap-small);
      margin-right: -($grid-gap-small);
      margin-bottom: $line-height * 2;
      padding: $grid-gap-small;
      padding-bottom: $grid-gap;

      h1 {
        margin-bottom: $grid-gap;
        max-width: 15em;
      }

      .goal {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: 505px) {
      .intro-on-black {
        margin-bottom: 0;
      }

      .section-grid {
        margin-top: 55vh;
        margin-bottom: 0;
      }
    }
    @media screen and (min-height: 1000px) {
      .section-grid {
        margin-top: 30vh;
      }
    }
  }

  // Design VS Execution

  .fig-design-execution {
    figcaption {
      font-style: italic;
      font-weight: 300;
      font-size: 18px;
      text-align: center;
    }
  }

  .fig-design {
    grid-column: wide-start / middle;
  }

  .fig-execution {
    grid-column: middle / wide-end;
  }

  .grid-item {
    --col: inherit;
    --row: inherit;
    grid-column: var(--col);
    grid-row: var(--row);
  }

  // Gifs
  .feature-grey {
    grid-auto-rows: min-content;

    .gifs {
      overflow: hidden;

      // Bring outline on top and make it darker
      &:after {
        z-index: 10000;
        box-shadow: inset 0 0 0 1px rgba($color: #000000, $alpha: 0.4);
      }

      .gifs-container {
        display: grid;
        // gap: 18px;
        grid-template-columns: repeat(3, 1fr);
        border-radius: 8px;
        margin: 0 -1px -1px 0;

        .automation-gif {
          border-right: 1px solid;
          border-bottom: 1px solid;
          margin: 0 -1px -1px 0;
          border-color: rgba($color: #000000, $alpha: 0.4);
        }

        img {
          border-radius: 0;
        }
      }
    }

    p {
      grid-column: 8 / 11;
      align-self: start;

      @media screen and (max-width: 920px) {
        margin-top: $line-height / 2;
        grid-column: span 1;
      }
    }
  }
}
