@import '../variables';

.filter-button {
  //height: 32px;
  padding: 3px 16px 5px;
  margin-right: 16px;
  display: inline-block;
  text-transform: capitalize;
  border: 1px solid rgba($color: white, $alpha: 0.2);
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
}
