footer.home-footer {
  margin: 6em auto 4em;
  // margin-top: 6em;
  // margin-bottom: 7em;
  text-align: center;
  max-width: 36em;

  p {
    // max-width: 36em;
  }
  .button {
    margin-bottom: 4em;
  }
}

footer.case-footer {
  background-color: #e6e8ea;
  margin: 0 -24px -24px;
  padding: 24px;
}

.social-icon {
  display: inline-block;
  width: 24px;
  //height: 24px;
}
