@import '../variables.scss';

footer.home-footer {
  margin: 6em auto 4em;
  // margin-top: 6em;
  // margin-bottom: 7em;
  text-align: center;
  max-width: 36em;

  p {
    // max-width: 36em;
  }
  .button {
    margin-bottom: 4em;
  }
}

footer.case-footer {
  display: grid;
  row-gap: 36px;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  justify-items: center;
  background-color: #e6e8ea;
  margin: 0 -24px -24px;
  padding: 48px 24px;

  * {
    grid-column: 1 / 2 !important;
    margin: 0 !important;
  }

  .button {
    position: relative;
  }

  a {
    color: $link-color-dark;
    font-weight: 300;
  }
}

.social-icon {
  display: inline-block;
  width: 24px;
  //height: 24px;
}
