.header__intro {
  font-size: 17px;
  letter-spacing: 0.01em;
  margin: 5em auto;
  line-height: 1.529411765em;
  max-width: 36em;

  @media screen and (max-width: 370px) {
    font-size: 16px;
  }
}
