.header__intro {
  font-size: 17px;
  margin: 5em auto;
  line-height: 1.529411765em;
  max-width: 36em;

  @media screen and (max-width: 370px) {
    font-size: 16px;
  }
}

.twemoji-container {
  display: inline-block;
}

.twemoji {
  width: 1em;
}
