@import '../variables.scss';

.work-info__root {
  position: fixed;
  bottom: 32px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;

  .work-info__background {
    padding: 18px 24px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.97);
    color: $text-color-dark;
    box-shadow: 0px 5px 9px -7px #000000, 0px 8px 24px -12px #000000;
  }

  h3 {
    margin: 0;
    margin-bottom: 6px;
    line-height: 1;
  }

  p {
    margin: 0;
    line-height: 24px;
  }
}
